Predicting house Prices using multilinear Regression

In this project we are gonna see how machine learning algorithms help us predict house prices. Linear Regression is a model of predicting new future data by using the existing correlation between the old data. Here, machine learning helps us identify this relationship between feature data and output, so we can predict future values.

In [3]:
import pandas as pd
from sklearn import linear_model

In [4]:
# we import out dataset: housepricesdataset.csv
df = pd.read_csv("housepricesdataset.csv",sep = ";")

In [5]:
df

   area  roomcount  buildingage   price
0   180          5           10  510000
1   225          4           18  508000
2   260          3            2  548000
3   320          6           10  650000
4   335          4            9  628000
5   345          5           14  632000
6   355          3            0  680000
7   400          4           10  725000

In [6]:
df[['area', 'roomcount', 'buildingage']]

   area  roomcount  buildingage
0   180          5           10
1   225          4           18
2   260          3            2
3   320          6           10
4   335          4            9
5   345          5           14
6   355          3            0
7   400          4           10

In [7]:
df[['price']]

    price
0  510000
1  508000
2  548000
3  650000
4  628000
5  632000
6  680000
7  725000

In [9]:
#we define linear regression here

reg = linear_model.LinearRegression()
reg.fit(df[['area', 'roomcount', 'buildingage']],df['price'])

LinearRegression()

In [10]:
#since our model is ready,lets predict some
# lets predict a house with 230 square meters, 4 rooms and 10 years old building..
reg.predict([[230,6,0]])

C:\Users\91920\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([586097.7833456])